
.btn-play{
    border-radius: 50px;
    border: solid 7px #00FFFF;
    box-shadow: 0px 0px 9px 3px #00FFFF;
    background: none;
    width: 200px;
    height: 60px;
    position: relative;
    top: -50px;
    margin: 15px;
    font-family: 'Atma', cursive;
    font-size: 30px;
    color: white;
    padding: 0px;
}

.btn-play:hover{
    border: solid 4px #00FFFF;
    box-shadow: 0px 0px 9px 3px #00FFFF;
    background-color: #00FFFF;
    color: #000000;
    font-weight: 600;
}

.route{
    text-decoration: none;
    color: #ffffff;
}

.route:hover{
    color: #000000;
    font-weight: 600;
}

.btn-instruction{
    position: relative;
    top: 30px;
    border-radius: 50px;
    border: solid 7px #00FFFF;
    box-shadow: 0px 0px 9px 3px #00FFFF;
    background-color: #000000ec;
    width: 250px;
    height: 70px;
    font-family: 'Atma', cursive;
    font-size: 35px;
}

.btn-instruction:hover{
    border: solid 4px #00FFFF;
    box-shadow: 0px 0px 9px 3px #00FFFF;
    background-color: #00FFFF;
    color: #000000;
    font-weight: 600;
}

.link-instructions{
    text-decoration: none;
    color: white;
}

.oponent{
    position: relative;
    top: 20px;
    width: 220px;    
    font-size: 25px;
}

.oponent:hover{
    position: relative;
    top: 20px;
    width: 220px;    
    font-size: 20px;
}
