.inactive-square{
    border: solid 2px #00FFFF;
    background: none;
    width: 30px;
    height: 30px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.active-square{
    border: solid 2px #ff0000;
    background: #ff0000;
    width: 30px;
    height: 30px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.board{
    background-color: #000000c2;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    transform: scale(1);
    position: relative;
    top: 30px;
}

thead, .letter{
    color: #ffffff;
}

table{
    text-align: center;
}