.square{
    border: solid 2px #00FFFF;
    background: none;
    width: 30px;
    height: 30px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.square:disabled{
    background-color: gray;
}

.square-div{
    border: solid 2px #00FFFF;
    background: none;
    width: 26px;
    height: 26px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.failed-guess-square{
    border: solid 2px gray;
    background: gray;
    width: 26px;
    height: 26px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.guess-square{
    border: solid 2px red;
    background: red;
    width: 26px;
    height: 26px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.MuiIcon-colorPrimary{
    color: #7F00FF
}

.board{
    background-color: #000000c2;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    top: 30px;
}

thead, .letter{
    color: #ffffff;
}

table{
    text-align: center;
}

.row{
    color: white;
}