
.text-instruction-modal{
    margin-bottom: 18px;
    margin-top:0;
    line-height: 35px;
}

.close-icon-modal{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Atma', cursive;
    background-color: rgba(0, 0, 0, 0.65);
}

.ovni3{
    position: relative;
    top: 100px;
    left: 350px;
    width: 200px;
}

.bubble{
    width: 300px;
    position: relative;
    top: 10px;
    left: 340px;
}

.square-example-white{
    background-color: #ff0000;
    width: 26px;
    height: 26px;
    position: relative;
    left: 220px;
    top: 122px;
}

.square-example-red{
    background-color: #b4b4b4;
    width: 26px;
    height: 26px;
    position: relative;
    left: 291px;
    top: 148px;
}

.arrow1{
    transform: rotate(90deg);
    width: 80px;
    position: relative;
    left: 265px;
    top: 150px;
}

.arrow2{
    transform: rotate(90deg);
    width: 80px;
    position: relative;
    left: 110px;
    top: 150px;
}