.instructions-place-planets{
    border: solid #ffffff 1px !important;
    border-radius: 50px !important;
    background-color: #00000078 !important;
    font-size: 15px !important;
    color: #ffffff !important;
    margin: 0 10px;
    height: 30px;
    padding: 0 !important;
    min-width: 30px !important;
    font-family: 'Atma', cursive !important;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div{
    max-width: 600px;
    height: 400px;
    border: solid 10px #7F00FF;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 5px #7F00FF;
    background-color: #000000b7;
    color: #ffffff;
}

.container-instruction-planet{
    position: relative;
    top: -14px;
}

.txt-instructions-planet{
    color: #ffffff;
    font-family: 'Atma', cursive;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    margin: 28px 40px;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogActions-root.MuiDialogActions-spacing > button > span.MuiButton-label{
    color: #ffffff;
    font-family: 'Atma', cursive;
    font-size: 23px;
}